
.titulo{
    color: #800000 !important;
     font-weight: bold !important;
}
.butao{
    border-color: #800000 !important;
    background-color: #800000;
    color: #800000 !important;
    text-decoration: none;
}

.postagens{
    background-color: rgb(218, 232, 247);
} 