
.titulo{
    color: #800000 !important;
     font-weight: bold !important;
}
.butao{
    border-color: #800000 !important;
    background-color: #800000;
    color: #800000 !important;
}
.postagens{
    background-color: white;
} 