.box1{
    background-color: #800000  ;
    height: 120px;
}

.footer{
position: absolute;
bottom: auto;
}

.box2{
    background-color: #800000  ;
    height: 60px;
}

.redes{
    font-size: 50px !important;
    color: white;
}

.textos {
    color: white;
    text-decoration: none;
}