.cursor{
    cursor: pointer;
    color: white;

}
.logout{
    cursor: pointer;
    color: white;
    grid-row-end: span 3;
}
.text-decorator-none{
    text-decoration: none;
}

.titulo1{
    background-color: #800000 !important;
    font-size: 30px;
    margin-left: 38%;
    padding: 8px;
    color: white;
    
}



header{
  background-color: #800000 !important;
}


.menu1{
    background-color: #800000 !important;
    width: 600px;
}