.imagem2 {
    background-image: url(https://cdn.discordapp.com/attachments/903614501960691713/937740579528405012/PqB1DlB_2.png);
    width: 100px;
    min-height: auto ;
    background-repeat: no-repeat;
  }
  .mg{
    margin-top: 50px;
    padding: 30px;
  }
  
  .butao{
    border-color: #800000 !important;
    background-color: #800000;
    color: #800000 !important;
}

  .btnCancelar {
    margin-right: 20px !important;
    text-decoration: none ;
  }

  .text-decorator-none{
    text-decoration: none;
}

.textos2 {
  font-weight: bold !important;

}
body{
  background-color: rgb(218, 232, 247);


}